div(class='jumbotron')
    div(class='row')
        div(class='col')
            a(href='https://www.linkedin.com/in/ryan-mcandrew/')
                img(src='/content/LI-In-Bug.png'
                    alt="linked in social media icon link"
                    style="height:32px;")
        div(class='col')
            a(href='https://twitter.com/strawburybanana')
                img(src='/content/Twitter_Logo_Blue.png'
                    alt="twitter social media icon link"
                    style="height:32px; width:32px;")
        div(class='col')
            a(href='https://github.com/ryanmcandrew/')
                img(src='/content/Octocat.png'
                    alt="github social media icon link"
                    style="height:32px; width:32px;")
        div(class='col')
            iframe(allowtransparency=true 
                    scrolling="no"
                    frameborder="no"
                    src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fryanmcandrew&color=orange_transparent&size=32"
                    style="width: 32px; height: 32px;")       
        div(class='col')
            a(href='https://ryanmcandrew.bandcamp.com')
                img(src='/content/bandcamp-button-circle-line-aqua-64.png'
                    alt="bandcamp social media icon link"
                    style="height:32px; width:32px;")
